In [1]:
#A notebook that gets daily closing prices, calculates log returns, alpha, beta, and Sharpe Ratio
#TODO: Scrape earnings reports so we have some more graphs to work with
import pandas as pd
import numpy as np
import yfinance as yf
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from datetime import datetime
import twint
%matplotlib inline

In [2]:
def createDataFrame(stockList, startDate, endDate):
    stockDataFrame = pd.DataFrame(columns = stockList)
    for stock in stockList:
        stockDataFrame[stock] = yf.download(stock, start=startDate, end=endDate, progress=False)['Close']
    return stockDataFrame

def logReturns(stockDataFrame):
    for stock in stockDataFrame.columns:
        stockDataFrame[stock] = np.log(stockDataFrame[stock]) - np.log(stockDataFrame[stock].shift(1))
    stockDataFrame.dropna(inplace=True)
    return stockDataFrame

#We use rolling alpha, beta in this case. Comparing with the SP500 for linear regression
def marketAlphaBeta(logReturnDF, benchmarkDF):
    alphaDataFrame = pd.DataFrame(columns = logReturnDF.columns, index=logReturnDF.index)
    betaDataFrame = pd.DataFrame(columns = logReturnDF.columns, index=logReturnDF.index)
    obs = logReturnDF.shape[0]
    lagWindow = 30
    for i in range((obs-lagWindow)):
        for stock in logReturnDF.columns:
            regressor = LinearRegression()
            regressor.fit(benchmarkDF['^GSPC'].to_numpy()[i : i +lagWindow+1].reshape(-1,1), logReturnDF[stock].to_numpy()[i : i +lagWindow+1])
            betaDataFrame[stock][i+lagWindow]  = regressor.coef_[0]
            alphaDataFrame[stock][i+lagWindow]  = regressor.intercept_
    alphaDataFrame.dropna(inplace=True)
    betaDataFrame.dropna(inplace=True)
    return alphaDataFrame, betaDataFrame

#We use rolling Sharpe ratio in this case. We use 10 year Treasury Note (^TNX) yield as "risk-free" rate
def rollingSharpeRatio(logReturnDF, logBenchmark):
    sharpeDataFrame = pd.DataFrame(columns = logReturnDF.columns, index = logReturnDF.index)
    obs = logReturnDF.shape[0]
    lagWindow = 60
    for i in range((obs-lagWindow)):
        for stock in logReturnDF.columns:
            netReturn = logReturnDF[stock][i : i +lagWindow+1].mean() - logBenchmark['^TNX'][i : i +lagWindow+1].mean()
            stdDev = logReturnDF[stock][i : i +lagWindow+1].std()
            sharpeDataFrame[stock][i+lagWindow]  = netReturn/stdDev
    sharpeDataFrame.dropna(inplace=True)
    return sharpeDataFrame

In [2]:
#Variables that we can modify to get our data
memeStocks = ['AAPL','GOOG','TSLA','KO','OXY','BAC']
benchmarks = ['^GSPC','^TNX']
startDate = '2022-3-24'
endDate = '2023-3-24'

In [4]:
#Run once variables are filled out
newFrame = createDataFrame(memeStocks, startDate, endDate)
newFrame.to_csv("stockPrices.csv")
benchmarkFrame = createDataFrame(benchmarks, startDate, endDate)
benchmarkFrame.to_csv("benchmarkPrices.csv")
logDataFrame = logReturns(newFrame)
logDataFrame.to_csv("logReturnsStock.csv")
logBenchmark = logReturns(benchmarkFrame)
logBenchmark.to_csv("logReturnsBenchmark.csv")
alphaFrame, betaFrame = marketAlphaBeta(logDataFrame, logBenchmark)
alphaFrame.to_csv("alphas.csv")
betaFrame.to_csv("betas.csv")
sharpeDataFrame = rollingSharpeRatio(logDataFrame, logBenchmark)
sharpeDataFrame.to_csv("sharpeRatios.csv")
newFrame = createDataFrame(memeStocks, startDate, endDate)

In [29]:
df

               ^GSPC      ^TNX Ticker       Price
Date
2022-03-25  0.005053  0.062507   AAPL  174.720001
2022-03-28  0.007120 -0.006037   AAPL  175.600006
2022-03-29  0.012182 -0.031579   AAPL  178.960007
2022-03-30 -0.006314 -0.017655   AAPL  177.770004
2022-03-31 -0.015776 -0.013234   AAPL  174.610001
...              ...       ...    ...         ...
2023-03-17 -0.011081 -0.054455    BAC   27.820000
2023-03-20  0.008879  0.025016    BAC   27.750000
2023-03-21  0.012899  0.035280    BAC   28.590000
2023-03-22 -0.016600 -0.029836    BAC   27.639999
2023-03-23  0.002980 -0.027224    BAC   26.969999

[1500 rows x 4 columns]

In [5]:
df = pd.merge(newFrame, benchmarkFrame, left_index=True, right_index=True)
df['Date'] = df.index
df = pd.melt(df, id_vars=[i for i in df.columns.values if i not in memeStocks], value_vars=memeStocks, var_name='Ticker', value_name='Price')
logDataFrame['Date'] = logDataFrame.index
log_melted = pd.melt(logDataFrame, id_vars=['Date'],value_vars=memeStocks, var_name='Ticker', value_name='Price')
pd.merge(df, log_melted, on=['Ticker','Date'], how='inner', suffixes=['_Stock','_Log_Return'])

         ^GSPC      ^TNX       Date Ticker  Price_Stock  Price_Log_Return
0     0.005053  0.062507 2022-03-25   AAPL   174.720001          0.003727
1     0.007120 -0.006037 2022-03-28   AAPL   175.600006          0.005024
2     0.012182 -0.031579 2022-03-29   AAPL   178.960007          0.018954
3    -0.006314 -0.017655 2022-03-30   AAPL   177.770004         -0.006672
4    -0.015776 -0.013234 2022-03-31   AAPL   174.610001         -0.017936
...        ...       ...        ...    ...          ...               ...
1495 -0.011081 -0.054455 2023-03-17    BAC    27.820000         -0.040506
1496  0.008879  0.025016 2023-03-20    BAC    27.750000         -0.002519
1497  0.012899  0.035280 2023-03-21    BAC    28.590000          0.029821
1498 -0.016600 -0.029836 2023-03-22    BAC    27.639999         -0.033793
1499  0.002980 -0.027224 2023-03-23    BAC    26.969999         -0.024539

[1500 rows x 6 columns]

In [5]:
import nest_asyncio
nest_asyncio.apply()

In [10]:
def processDateRange(date_range):
    dates = [datetime.strptime(str(date), '%Y-%m-%d %H:%M:%S') for date in date_range.strftime('%Y-%m-%d %H:%M:%S')]
    dates = [date.strftime('%Y-%m-%d %H:%M:%S') for date in dates]
    return dates

def scrapeForDate(ticker,dates):
    i=0
    df = pd.DataFrame()
    since = processDateRange(dates.shift(freq='-1D'))
    until = processDateRange(dates)
    
    while i != len(since)-1:
        c = twint.Config()
        c.Search = [ticker]
        c.Limit = 60
        c.Lang = 'en'
        c.Verified = True
        c.Hide_output = True
        c.Since = since[i]
        c.Until = until[i]
        c.Pandas = True
        c.Pandas_clean = True
        c.Hide_output = True
        c.Count = True
        twint.run.Search(c) 
        if not twint.storage.panda.Tweets_df.empty:
            if df.empty:
                df = twint.storage.panda.Tweets_df[['date','tweet']]
            print(twint.storage.panda.Tweets_df[['date','tweet']].shape)
            df = pd.concat([df,twint.storage.panda.Tweets_df[['date','tweet']]])
            i+=1
    return df

In [9]:
%%capture
dfs = []
date_range = pd.date_range(start=startDate, end=endDate)

for ticker in memeStocks:
    df = scrapeForDate(ticker,date_range)
    dfs.append(df)

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 36 Tweets.
(36, 2)
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 5 Tweets.
(5, 2)
[+] Finished: Successfully collected 60 Tweets.
(60, 2)
[+] Finished: Successfully collected 60 Tweets.
(60, 2)
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 16 Tweets.
(16, 2)
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 59 Tweets.
(59, 2)

In [8]:
dfs[3].shape

(120, 2)